/* Bug-Fixed BootStrap*/
.icon-chevron-down {
  background-position: -311px -119px;
}



/* Generally Customize BootStrap*/


body {
	padding-top:76px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.narrow-container {
	margin: 0 auto;
	max-width:960px;
}

.icon-grey {
  background-image: url("../img/glyphicons-halflings-grey.png");
}

a {
  color: #3BB3C3;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-backface-visibility: hidden; }
  a:hover {
    color: #298290;
    text-decoration: none; }

.btn {
  border: none;
  background: #3BB3C3;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }
  .btn:hover, .btn:focus {
    background-color: #71D2DB;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }
  .btn:active, .btn.active {
    background-color: #339CAB;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: white; }
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; }
  .btn.btn-primary {
    background-color: #3BB3C3; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #71D2DB; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #339CAB; }
  .btn.btn-info {
    background-color: #3498db; }
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5dade2; }
    .btn.btn-info:active, .btn.btn-info.active {
      background-color: #2383c4; }
  .btn.btn-danger {
    background-color: #e74c3c; }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #ec7063; }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background-color: #dc2d1b; }
  .btn.btn-success {
    background-color: #2ecc71; }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #55d98d; }
    .btn.btn-success:active, .btn.btn-success.active {
      background-color: #27ad60; }
  .btn.btn-warning {
    background-color: #f1c40f; }
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f4d03f; }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background-color: #cea70c; }
  .btn-toolbar .btn {
    font-size: 18px;
    padding: 10px 14px 9px; }
    .btn-toolbar .btn:first-child {
      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px; }
    .btn-toolbar .btn:last-child {
      -webkit-border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0; }

button.btn-small {
	font-size:12px;
}

.btn-cancel {
	background: #777;
}

.btn-cancel:hover, .btn-cancel:focus {
	background: #999;
}

.btn-toolbar .btn.active {
  color: white; }



.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #3BB3C3;
  background-image:none;
  background-repeat: repeat-x;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}



textarea, input[type="text"] {
	background: #fff;
	white-space: pre-wrap;
	word-wrap: break-word;
	line-height: 1.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height:20px; 
	padding: 10px 12px;  
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
		    border-radius: 4px;	    
	border: 1px solid #f3f3f3;
	-webkit-box-shadow: none;
	-moz-box-shadow:  none;
	box-shadow: none;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	overflow: hidden;
	margin-bottom: 0;
}

textarea:focus, textarea:active, input[type="text"]:focus, input[type="text"]:active {
	border-color: rgba(59, 179, 195, 0.8);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}





/* Top Navbar */
.navbar-inverse .navbar-inner {
	border:none;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: transparent;
	color: #71D2DB;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar-inverse .nav > li > a {
	font-size:16px;
	font-weight: normal;
	color: white;
}
  .navbar .nav > li > a {
    padding: 15px; }
    
    .navbar .nav > li > a:hover {
      color: #71D2DB; }


.navbar .reminder-number {
	padding: 1px 5px;
	margin: 12px 0;
    line-height: 16px;
}

.navbar .brand {
	display: block;
	float: left;
	padding: 15px 70px 15px 40px;
	font-size: 16px;
	font-weight: 200;
	color: #ECF0F1;
}

.nav-list > li > a {
  padding: 6px 15px;
}

.navbar .nav .dropdown-menu {
	min-width: 60px;
}

.dropdown-menu > li > a  {
	color:#333;
}

.reminder-frame a span {
	padding-right:3px;
	padding-left:3px;
	color:#3BB3C3;
}

.reminder-frame a small {
	color:#7c7c7c;
	padding-right:3px;
	padding-left:3px;
}

.dropdown-menu > li > a:hover > span,
.dropdown-menu > li > a:hover > small {
	color: #ffffff;
}


/* Sidebar */

.sidebar-nav {
	padding: 9px 0;
}

.nav-list .nav-header {
	text-shadow: none;
	color:#333;
}

.my-courses-header {
	padding:3px 15px 6px 15px;
	font-size:14px;
	font-weight: normal;
	color:#B8A779;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
	color: #ffffff;
	background-color: #3BB3C3;
	text-shadow: none;
}

/* Mini-Profile */
.mini-profile {
	font-size:12px;
	min-height: 20px;
	margin-bottom: 20px;
	border:1px solid #f3f3f3;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	        
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.mini-profile-header {
	background-color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: rgb(51, 51, 51);
	cursor: pointer;
	line-height: 16px;
	min-height: 48px;
	padding:12px 12px 6px 12px;
}

.mini-profile-avater {
	float:left;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.mini-profile-header .account-group .username {
	font-size: 14px;
	color:#3BB3C3;
	font-weight: normal;
}

.mini-profile-header img {
	margin-right: 12px;
}

.mini-profile-header .self-description {
	color:#999;
	padding-top: 6px;
}

.mini-profile-stats {
	background-color: #fff;
	overflow: hidden;

}

.mini-profile-stats ul {
	margin-left: 0;
}

.mini-profile-stats ul li {
	display: inline;
}

.mini-profile-stats ul li a {
	float: left;
	padding: 9px 22px;
	color: #999;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
}

.mini-profile-stats ul li a:hover {
	color:#298290;
}

.mini-profile-stats ul li:first-child a {
	border-left-width: 0px;
}

.mini-profile-stats strong {
	display:block;
	color: #333;
	font-size: 13px;
}


/* Mini Compose Box */

.mini-profile .mini-speak-box {
	line-height: 1;
	padding: 10px 12px;
	background-color: #fbfbfb;
	-webkit-border-radius: 0 0 5px 5px;
	   -moz-border-radius: 0 0 5px 5px;
		    border-radius: 0 0 5px 5px;
}

.mini-profile .mini-speak-box form {
	margin-bottom:0;
}

.mini-profile .mini-speak-box form input[type="text"] {
	width:255px;
	height:40px;
}


/* Rich Speak Box */
.rich-speak-box {
	line-height: 1;
	padding: 15px 12px 0 12px;
	background-color: #fbfbfb;
	-webkit-border-radius: 0 0 5px 5px;
	   -moz-border-radius: 0 0 5px 5px;
		    border-radius: 0 0 5px 5px;
}

.mini-profile .rich-speak-box form {
	padding-bottom: 8px;
	margin-bottom: 0;
}

.mini-profile .rich-speak-box textarea {
	width:255px;
}

.rich-speak-box .rich-speak-box-actions {
	margin-top:4px;
}

.photo-upload {
	display: inline;
}

/*高手做的input file*/
.btn_addPic{  
	position: relative;  
	width: 80px;  
	height: 39px;  
	overflow: hidden;  
	color: #999999;  
	cursor: pointer;  
}  
.btn_addPic span{line-height: 39px;}  
.btn_addPic em {  
	background:url("../img/twitter_web_sprite_icons.png") -60px -530px;  
	display: inline-block;  
	width: 20px;  
	height: 18px;  
	overflow: hidden;  
	margin: 10px 5px 10px 0;  
	line-height: 20em;  
	vertical-align: middle;  
}  
.btn_addPic:hover em{background-position:-60px -590px;}
input.filePrew {  
	display: block;  
	position: absolute;  
	top: 0;  
	left: 0;  
	width: 80px;  
	height: 39px;  
	font-size: 40px; /* 增大不同浏览器的可点击区域 */  
	opacity: 0; /* 实现的关键点 */  
	filter:alpha(opacity=0);/* 兼容IE */  
}  



.speak-button {
	float:right;
	display: inline;
	margin-right: 2px;
	margin-top:6px;
}

.speak-button .speak-word-counter {
	margin-right:5px;
	color: #999;

	border: 0;
	padding: 0 3px;
	vertical-align: middle;
	text-align: right;
	font-size: 13px;
	text-shadow: 0 1px 1px rgba(255,255,255,.75);
}



@media (max-width: 980px) {
/* Enable use of floated navbar text */
.navbar-text.pull-right {
	float: none;
	padding-left: 5px;
	padding-right: 5px;
}
}


/* My Courses Sidebar */
.well {
	background-color: #fff;
	border: 1px solid #f3f3f3;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
}

.my-courses a {
	color:#444;
}

.my-courses .nav-list > li > a {
	text-shadow: none;
}



/* Feeds Flow */
.feeds-container {
	background-color: #ffffff;
	/*
	border: 1px solid #f3f3f3; 
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
    */
}



.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
	color: #ffffff;
	background-color: #3BB3C3;
}

	.nav > li > a:hover, .nav > li > a:focus {
		text-decoration: none;
		color:#fff;
		background-color: #3BB3C3;}
		
	.nav > li > a:active, .nav > li > a:active {
		background-color: #339CAB;
		}	

/* Single Feed */

.feeds-header {
	border:1px solid #f3f3f3;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: none;
	padding-bottom: 10px;
}

	.feeds-header a {
		color:#3BB3C3;
	}
	

.feeds-sort {
	margin: 10px 0px 0px 10px;
	padding:0px;
}


.new-feeds-bar {
	position: relative;
	font-size: 13px;
	color:#3BB3C3;
	display: block;
	padding: 10px 1px;
	cursor: pointer;
	text-align: center;
	font-weight: normal;
	background-color: #fbfbfb;
	border: 1px solid #f3f3f3;
	border-bottom:none;
	z-index: 2;
}

.new-feeds-bar:hover {
	background-color: #f6f6f6;
}

.feeds-content ol {
	margin-bottom: 0px;
}

.feeds-item {
	position: relative;
	border:1px solid #f3f3f3;
	border-bottom:none;
	padding:4px 0 0 0;
}

.feeds-body {
	padding: 12px 15px;
	min-height: 65px;
}

.feeds-item:hover {
	background-color: #fcfcfc;
	cursor:pointer;
}

.feeds-item-click {
	margin:8px 0;
	background-color: #fff;
	border:1px solid #f3f3f3;
	border-radius:4px;
}

.first-feed-item-click {
	margin:8px 0;
	background-color: #fff;
	border:1px solid #f3f3f3;
	border-radius:0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-top:0;
}


.sep-prev-feed {
	border-bottom:1px solid #f3f3f3;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.sep-next-feed {
	border-top:1px solid #f3f3f3;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.feeds-item-footer {
	margin-left:66px;
	display:inline;
}

.feeds-text {
	padding:5px 0;
	margin:0;
}


.feeds-item-footer ul {
	display: inline-block;
}

.feeds-item-footer .feeds-actions {
	float:right;
	margin-top:5px;
}

.feeds-item-footer a {
	font-size: 12px;
	color:#999999;
	font-weight: normal;
}

.user-avater {
	width: 54px;
	height: 54px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	float: left;
	margin-right: 15px;
}

.feeds-item-course {
	padding-left: 10px;
	text-decoration: none;
	color: #999;
	font-size: 12px;
	vertical-align: top;
	display: inline-block;
}

.feeds-timestamp {
	position: relative;
	float: right;
	margin-top: 1px;
	font-size: 12px;
	color: #999;
	
}


.feeds-end {
	padding: 20px 50px;
	background-color: #fff;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	text-align: center;
	border-top:1px solid #f3f3f3;
}

.feeds-end a {
	font-size: 13px;
	color: #777;
}


	/* 转发内容 */
	.share-content-wrapper {
		margin:10px 0 0 66px;
		font-size:13px;
	}

	.share-content-wrapper .well {
		padding:12px 5px 5px 20px;
		background-color: #fcfcfc;
		margin-bottom: 0;
		border: none;
		border-radius: 0;
		margin-left:10px;
		margin-right:10px
	}
	
	.share-content-wrapper .feeds-item-header {
		margin-left:0;
	}
	

	
	.share-content-wrapper .feeds-item-content {
		margin-left:0;
	}

		
	.share-content-wrapper .feeds-item-course {
		display: inline-block;
		padding-top: 0;
	}

	.share-content-wrapper .feeds-item-footer {
		margin-left: 0;
	}

	.share-content-wrapper .expanded-content {
		margin: 0;
	}
	
	.feeds-item .media-container {
		margin:10px 0 0 5px
	}




/* Feeds Actions  */
.feeds-item-status {
	min-height: 20px;
}

.feeds-actions i {
	margin-top:0;
}

.feeds-actions a:hover {
	color:#333;
}

.feeds-comment-container {
	cursor:pointer;
}

	.ui-icon-comment {
		background-image: url("../img/ui-icons_888888_256x240.png");
		background-position: -128px -96px;
		width: 16px;
		height: 16px;
		display: inline-block;
		margin-bottom: -2px;
		margin-right: -2px;
	}
	
	.ui-icon-comment-hover {
		background-image: url("../img/ui-icons_454545_256x240.png");
		background-position: -128px -96px;
		width: 16px;
		height: 16px;
		display: inline-block;
		margin-bottom: -2px;
		margin-right: -2px;
	}


/* Feed Details */
.expanded-content {
	margin:10px 0 0 66px;
}

.media-container .media-picture {
	max-width: 500px;
	max-height: 375px;
}

.media-container .media-picture img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width:150px;
}

.media-container .media-picture img.zoom-image {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:500px;
}


/* Feed Replies */
.feed-replies form {
	margin:0;
}

.feed-replies {
	position: relative;
	padding: 8px;
	background: #fcfcfc;
	border-top: 1px solid #f3f3f3;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.feed-replies .reply-box {
	padding:15px 12px 0px 70px;
}

.feed-replies .reply-box textarea {
	width:480px;
}

.feed-replies .reply-box-actions {
	padding-bottom:15px;
	width: 480px;
	margin-top: 10px;
}


.feed-replies .reply-checkbox {
	display:inline;
	margin:0;
	margin-left:2px;
	color:#666;
	font-size: 12px;
}

.feed-replies .reply-checkbox input[type="checkbox"] {
	margin:0;
	margin-right:3px;
}

.feed-replies .feed-reply-button .reply-word-counter {
	margin-right:5px;
	color: #999;
	display: inline-block;
	width: 35px;
	padding: 1px 3px;
	vertical-align: top;
	text-align: right;
	font-size: 12px;

}

.feed-replies .feed-reply-button button {
	margin-right:2px;
	padding: 0 5px;
}


.replies-wrapper {
	min-height: 0px;
}

	.replies-wrapper .replies-user-avater {
		width: 32px;
		height: 32px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		cursor: pointer;
	}
	
	.replies-wrapper ol {
		list-style: none;
		margin:0;
	}
	
	.replies-wrapper li {
		min-height: 60px;
		border-top:1px solid #f3f3f3;
		margin:6px 0;
	}
	

.replies-item-header {
	margin:6px 0 0 30px;
}
	.replies-item-header .username {
		color:#555;
		font-weight: normal;
		margin-top:6px;
		margin-bottom: 4px;
		display: inline-block;
		font-weight: bold;
	}
	.replies-item-header img {
		float:left;
		margin-right:14px;
		margin-top:5px;
	}

.replies-item-content {
	color:#555;
	margin-left:76px;
}

	.replies-item-content p {
		margin-bottom:0;
		display: inline;
	}


.replies-item .replies-actions {

}

/* Share Modal */
#ShareModal h3 {
	font-size:16px;
}

/* Account Group */
.account-group {
	font-weight: bold;
	cursor:pointer;
}

.feeds-item-header .username {
	color:#333;
	font-weight: bold;
	vertical-align: top;
}

.username-hover {
	color:#71D2DB;
	text-decoration: none;
}


